<div class="rangoLuchador" *ngFor="let luchador of mattMask">
    <h3>Rank 2</h3>
    <h2>{{luchador.Name}}</h2>
    <div class="tabla">
        <table class="datos">
            <tr>
                <td>Country</td>
                <td>{{luchador.Country}}</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>{{luchador.Age}}</td>
            </tr>
            <tr>
                <td>Height</td>
                <td>{{luchador.Height}}</td>
            </tr>
            <tr>
                <td>Weight</td>
                <td>{{luchador.Weight}}</td>
            </tr>
            <tr>
                <td>Bicep (RIGHT)</td>
                <td>{{luchador.Bicep}}</td>
            </tr>
            <tr>
                <td>Forearm (RIGHT)</td>
                <td>{{luchador.Forearm}}</td>

            </tr>
        </table>
    </div>

</div>