body {
    background-color: rgb(6, 2, 2);
    font-family: 'teko', Helvetica, Arial, sans-serif;
    font-size: 25px;
    margin: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to bottom, #252530, #030305);
    margin: 0;
    overflow-x: hidden;

}


h1 {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-left: 5px;

}

h1,
h2 {
    margin-top: 0;
    margin-bottom: 2px;
    transform: skew(-10deg);
}


.titulo {
    font-size: 50px;
    display: flex;
    color: #cc1514;
    justify-content: center;
}

.versus {
    color: #cc1514;
}