body {
    background-color: rgb(6, 2, 2);
    font-family: 'teko', Helvetica, Arial, sans-serif;
    font-size: 25px;
    margin: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to bottom, #252530, #030305);
    margin: 0;
    overflow-x: hidden;

}