.rangoLuchador {
    margin-bottom: 113px;
}

.tabla {
    font-family: 'coda', Helvetica, Arial, sans-serif;
    text-align: center;
}

.datos {
    height: auto;
    color: white;
    border-collapse: collapse;
    background: linear-gradient(to bottom, #00000060, #130404);
}

.datos th,
.datos td {
    padding: 15px;
    border: 1px solid #323240;
}

h3 {
    font-size: 30px;
    color: #cc1514;
    margin-bottom: 0;
}

h2 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    transform: skew(-10deg);
    margin: 0;
}

h1 {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-left: 5px;
}

h1,
h2 {
    margin-top: 0;
    margin-bottom: 2px;
    transform: skew(-10deg);
}

.boton {
    margin: 6px 0;
}

button {

    height: 30px;
    border-radius: 5px;
    border: 1px solid #323240;
    background-color: #00000060;
    transition: .3s;
    color: white;

}

button:hover {
    background: linear-gradient(to left, #2d16167e, #130404);
    cursor: pointer;
}

@media (max-width: 768px) {
    .rangoLuchador {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    h2 {
        align-items: center;
    }
}